@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-playfair);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
